@import '../vars.scss';
@import '../mixins.scss';

@mixin visible {
  // width: 100%;
  // border: 2px solid $blue;
  line-height: 24px;
  font-size: 14px;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
  text-align: center;
  display: block;
  position: absolute;
  top: 80px;
  z-index: 100;
  // background-color: rgba(255, 255, 255, 0.9);
  background-color: white;
  right: 40px;
  // bottom: 80px;
  left: 40px;
  visibility: visible;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.11);
  padding: 20px 0 20px 0;

  @include bp-sm {
    top: auto;
    left: 110px;
    right: 50%;
    bottom: 30px;
    margin-right: 10px;
  }

}

.gteviz-infobox {
  display: none;
  // visibility: hidden;
  // z-index: -99;

  &--visible {
    @include visible;
  }

  &--visible-lg {
    @include bp-sm {
      @include visible;
    }
  }

  &__close {
    font-size: 26px;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    // color: white;
    color: $blue;

    &:before {
      content: '\2716';
    }

    @include bp-sm {
      // display: none;
      font-size: 14px;
    }
  }

  &__value {
    font-size: 30px !important;
    padding: 10px;
    margin-bottom: 0 !important;
    display: block;
    width: 100%;
    // background-color: $blue;
    // color: white;
    color: $blue;
    font-weight: bold;
  }

  &__title {
    margin-bottom: 0 !important;
    padding: 10px;
    font-size: 14px !important;
    line-height: 20px !important;
    // color: $blue;
  }

  &__text,
  &__source {
    line-height: 20px !important;
    padding: 10px !important;
    margin: 0 !important;
  }

  // &:after {
  //   position: absolute;
  //   bottom: -35px;
  //   right: 60px;
  //   content: '';
  //   display: inline-block;
  //   width: 0;
  //   height: 0;
  //   border-style: solid;
  //   border-width: 0 40px 35px 0;
  //   border-color: transparent $blue transparent transparent;
  // }
}
